IntegrationNumerischesPraktikum.log
IntegrationNumerischesPraktikum.aux
IntegrationNumerischesPraktikum.spl
IntegrationNumerischesPraktikum.blg
IntegrationNumerischesPraktikum.bbl
IntegrationNumerischesPraktikum.synctex.gz
